<!-- Header -->
<%- include('header') %>
<!-- End Header -->

<div class="message">
    <h3><%= message %></h3>
    <a href="<% backUrl %>"><button>Nazad</button></a>
</div>

<!-- footer -->
<%- include('footer') %>
<!-- End Footer -->